[Unit]
Description=Start umami - Umami is a simple, fast, website analytics alternative to Google Analytics
Requires=network.target
After=network.target

[Service]
Type=simple
#User=$USER
Environment=DATABASE_URL=//waledevops:devops101@acs-database.cdqpbjkethv0.us-east-1.rds.amazonaws.com/daviddb     # gets the connectionurl from the RDS endpoint provisioned by Terraform
Environment=HASH_SALT=whistle
WorkingDirectory=/var/www/umami
ExecStart=/bin/bash /var/www/umami/start.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target